.place{
    display: flex;
}
article{
    display: flex;
    width: 350px;
    margin: 30px;
    padding: 30px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    height: 10px;
    align-items: center;
    }
.new{
    margin-left: 520px;
    margin-top: -101px;
}
.suit{
    width: 350px;
    margin-left: 270px;
}
h1, h2{
    font-size: 30px;
}
.price_by_night{
    display: flex;
    color: #FF5A5F;
    border: #FF5A5F 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    transform: translate(200px, 10px);
}